<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolflix</title>

    <!-- CSS, FontAwesome, Vue, Axios -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- /Fine Librerie -->

  </head>
  <body>
    <!-- Root Vue -->
    <div id='root'>
      <!-- Container -->
      <div class="container">
        <!-- Contenuto del sito -->
        <div class="content">
          <!-- MAIN TOP *****************************************************-->
          <div class="main-top">

            <!-- MAIN MENU********************** -->
            <div class="main-menu">
              <!-- LOGO -->
              <div class="logo">
                <img src="./img/logo/logo.png" alt="Logo boolflix">
              </div>
              <!-- MAIN MENU LINKS -->
              <ul class="menu-inline-1">
                <li>Home</li>
                <li>Serie Tv</li>
                <li>Film</li>
                <li>Nuovi popolari</li>
                <li>La mia lista</li>
              </ul>
            </div>
            <!-- /MAIN MENU ********************** -->

            <!-- ACTION MENU ********************* -->
            <div class="action-menu">

              <!-- MENU DX -->
              <ul class="menu-inline-1">
                <!-- Search bar -->
                <li>
                  <input
                  class="search-bar"
                  v-model="searchInput"
                  @keyup.enter="searchQuery">
                </li>
                <!-- Actions -->
                <li><i class="fas fa-search fa-lg" @click="searchQuery"></i></li>
                <li>BAMBINI</li>
                <li><i class="fas fa-gift fa-lg"></i></li>
                <li><i class="fas fa-bell fa-lg"></i></li>
                <li><i class="fas fa-user-circle fa-lg"></i></li>
              </ul>
              <!-- /MENU DX -->
            </div>
            <!-- /ACTION MENU ********************* -->

          </div>
          <!-- /MAIN TOP ****************************************************-->

          <!-- MAIN CENTER **************************************************-->
          <div class="main-center">
            <!-- LISTE FILM ********************** -->
            <div v-for="(sezione, index) in getSezioniFromList()" class="box-section">
              <!-- SEZIONE -->
              <div class="title-section">{{nomiSezioni[index]}}</div>
              <!-- BOX FILM -->
              <div class="box-film">

                <!-- Film -->
                <div v-for="film in sezione" class="film">

                  <!-- layer copertina -->
                  <div class="layer-copertina">
                    <img v-if="film.poster_path" class="poster" :src="getPosterSrc(film)" alt="Immagine non disponibile">
                    <img v-else class="poster" alt="immagine non disponibile" src="./img/icone/no-copertina.png">
                  </div>
                  <!-- /layer copertina -->

                  <!-- Layer informazioni -->
                  <div class="layer-informazioni">

                    <!-- Lista info film -->
                    <ul>
                      <!-- Titolo, titolo originale -->
                      <li v-if="film.title" class="titolo">Titolo - {{film.title}}</li>
                      <li v-if="film.name" class="titolo">Titolo - {{film.name}}</li>
                      <li v-if="film.original_title" class="titolo-originale">Titolo originale - {{film.original_title}}</li>
                      <li v-if="film.original_name" class="titolo-originale">Titolo originale - {{film.original_name}}</li>
                      <!-- Lingua  -->
                      <li> <img v-if="showLanguageFlag(film.original_language)" :src="showLanguageFlag(film.original_language)">
                      <div v-else="showLanguageFlag(film.original_language)">Lingua - {{film.original_language}}</div></li>
                      <!-- Rating - Mostra bandiera, se non presente mostra caratteri -->
                      <li class="stelline">
                        <i v-for="stellina in showStarRating(film.vote_average)" class="fas fa-star voto"></i>
                        <i v-for="stellina in showStarRatingEmpty(film.vote_average)" class="far fa-star votoEmpty"></i>
                      </li>
                      <!-- Overview -->
                      <li class="overview" v-if="film.overview"> Overview - {{film.overview}}</li>
                    </ul>
                    <!-- /Lista info film -->
                  </div>
                  <!-- /Layer informazioni -->
                </div>
                <!-- /Lista All -->

              </div>
              <!-- /BOX FILM -->
            </div>
            <!-- /LISTE FILM ********************** -->
          </div>
          <!-- /MAIN CENTER *************************************************-->

      </div>
      <!-- /Container -->
    </div>
    <!-- /Root -->
    <!-- Script Javascript -->
    <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>


<!-- Predisposizione bonus -->
<!-- <br>
<div class="attori">
  <span>ATTORI PARTECIPANTI</span>
  <ul>
    <li> ATTORE 1</li>
    <li> ATTORE 2</li>
    <li> ATTORE 3</li>
    <li> ATTORE 4</li>
    <li> ATTORE 5</li>
  </ul>
</div>

<div class="generi">
  <span>ATTORI PARTECIPANTI</span>
  <ul>
    <li> GENERE 1</li>
    <li> GENERE 2</li>
    <li> GENERE 3</li>
    <li> GENERE 4</li>
    <li> GENERE 5</li>
  </ul>
</div> -->
<!-- /Predisposizione bonus  -->


<!-- <div> BONUS da implementare - Selezione film per categoria
  <select>
    <option>Azione</option>
    <option>Thriller</option>
    <option>Commedia</option>
  </select>

</div> -->
