<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolflix</title>

    <!-- CSS, FontAwesome, Vue, Axios -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- /Fine Librerie -->

  </head>
  <body>
    <!-- Root Vue -->
    <div id='root'>
      <!-- Container -->
      <div class="container">
        <!-- Contenuto del sito -->
        <div class="content">

          <h2>Query film con grafica minimale</h2>

          <!-- Search Bar -->
          <label for="search-bar"> Titolo da cercare </label>
          <input name="search-bar" v-model="searchInput">
          <button @click="searchQuery" > CERCA </button>
          <!-- /Search Bar -->


          <!-- Lista Film trovati -->
          <div class="box-film">
            <div v-for="film in listaFilm" class="film">
              <img class="poster" :src="'https://www.themoviedb.org/t/p/w94_and_h141_bestv2/'+film.poster_path" alt="Immagine non disponibile">
              <ul>
                <li class="titolo">Titolo - {{film.title}}</li>
                <li class="titolo-originale">Titolo originale - {{film.original_title}}</li>
                <li class="lingua">Lingua - {{film.original_language}}</li>
                <li class="voto">Voto - {{film.vote_average}}</li>
              </ul>
            </div>
          </div>

          <!-- Lista Film trovati -->


      </div>
      <!-- /Container -->
    </div>
    <!-- /Root -->
    <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
